.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.homeTbales {
    width: 100%;
    border-collapse: collapse;
}

.homeTbale, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #3e3e3e;
    color: white;
  }
  
  .new-user-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
  }