/* NewUser.css */

.centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .new-user-form {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 12px; /* Increase the border radius */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px; /* Increase the width of the box */
  }
  
  .new-user-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .new-user-form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add a border to the input */
    border-radius: 5px; /* Apply border radius to the input */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .save-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  